<div class="container">
  <h2 class="text-center mt-5">About</h2>

  <p class="text-center mt-5">このサイトは将棋道場や将棋センターなどの将棋が指せる場所を投稿・閲覧することができるサイトです。<br>
   将棋が指せる場所がどのようなところか、どのくらいの強さ（棋力）の人がいるのか、<br>
   どんな活動をしているのかなどの情報を投稿したり、他の人の投稿を閲覧して自分に合った場所を見つけるのに活用してください。</p>

  <div class="row justify-content-center">
    <%= image_tag "syougi_kids.png",alt: "画像",class:"w-75" %>
  </div>
</div>
