<h2>About</h2>

<p>このサイトは将棋道場や将棋センターなどの将棋が指せる場所を投稿・閲覧することができるサイトです。<br>
   いろいろな人と将棋が指せる場所がどのようなところか、どのくらいの強さ（棋力）の人がいるのか、<br>
   どんな活動をしているのかなどの情報を投稿したり、他の人の投稿を閲覧して、自分に合った場所を見つけるのに活用してください。</p>

<%= image_tag "syougi_kids.png",alt: "画像" %>
