<div class="container">
  <h2 class="text-center mt-5 mb-5">”<%= params[:word] %>”の検索結果一覧</h2>

  <%= render'list',post_shogi_places:@post_shogi_places %>
  <%= paginate @post_shogi_places %>

  <div class="row justify-content-center">
    <%= link_to "投稿一覧へ戻る",post_shogi_places_path,class:"btn btn-primary mt-3" %>
  </div>
</div>